<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    platformBuildVersionCode="34"
    platformBuildVersionName="14">

    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="34" />
    
    <!-- Permissions for floating overlay -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:theme="@style/Theme.XposedModule">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Xposed Module Metadata -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/module_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        
        <!-- LSPosed specific metadata -->
        <meta-data
            android:name="xposedscope"
            android:value="com.com2usholdings.soulstrike.android.google.global.normal" />
            
        <!-- Service for floating mod menu -->
        <service
            android:name=".ModMenuService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
